.profile {
    background-color: #D9FFD2;
    border: 2px solid #00000080;
    border-radius: 34px;
    height: 65vh;
    width: 80vw;
    margin-bottom: 20%;
    padding-left: 5%;
    padding-bottom: 5%;
    h1 {
        font-size: larger;
        color: #364035;
    }
    span {
        margin: 0 5%;
        color: #364035
    }
    color: #6D8069;
}
.Button {
    padding-right: 5%;
    margin-top: 5%;
    width: 95%;
    height: 5vh;
    border-radius: 45px;
    border: 2px solid #00000080;
    background-color: #FFEDD2;
    font-family: Montserrat;
    color: #364035;
}

.p2 {
    color: #4D5A4B;
}