.profile {
    background-color: #E4B57F;
    border: 2px solid #725B40;
    border-radius: 24px;
    height: 100%;
    width: 75vw;
    margin-bottom: 10%;
    margin-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    h1 {
        font-size: larger;
        color: #392D20;
    }
    span {
        margin: 0 2%;
        color: #392D20;
    }
    color: #725B40;
}
.Button {
    padding-right: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 5vh;
    border-radius: 24px;
    border: 2px solid #392D20;
    background-color: #FFEDD2;
    font-family: Montserrat;
    color: #392D20;
}

.Button:disabled {
    background-color: #cdbea9;
}

.p2 {
    color: #392D20;
}

.Block {
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: #392D20 0px 3px 8px;
    margin-bottom: 2vh;
    padding: 2vw;
}

@media (min-width: 1025px) {
    .profile{
        width: 65vw;
        .Button {
            height: 7vh;
        }
    }
}