/* Pumpkin.module.css */
.pumpkin {
    position: fixed;
    width: 80px; /* Задайте нужные размеры для видео */
    height: 80px;
    cursor: pointer;
    transform: translate(-50%, -50%); /* Центрирование по позиции */
    animation: fly 5s infinite;
}

@keyframes fly {
    0% { transform: translate(0, 0); }
    50% { transform: translate(10px, -10px); }
    100% { transform: translate(0, 0); }
}
