/* Pumpkin.module.css */

.pumpkin {
    position: absolute; /* Используем абсолютное позиционирование */
    width: 80px; /* Установите нужный размер видео */
    height: 80px;
    cursor: pointer;
    transform: translate(-50%, -50%); /* Центрирование элемента относительно позиции */
}


@keyframes fly {
    0% { transform: translate(0, 0); }
    50% { transform: translate(10px, -10px); }
    100% { transform: translate(0, 0); }
}
