.progress_bar_container {
    width: 80vw; /* Контейнер занимает всю ширину */
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #212121;
    z-index: 1;
    border-radius: 24px;
}

.progress_bar_track {
    width: 100%; /* Трек тоже занимает всю ширину */
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.progress_bar_bar {
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(92deg, #4caf50, #ffeb3b 50%, #ff9800 100%);
    transition: width 0.3s ease-in-out;
}
