html {
    background-image: url("images/Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Montserrat;
    width: 100%;
    overflow-x: hidden;
}

.Vector {
    width: 252px;
    height: 313.8px;
    flex-grow: 0;
    margin: 109.6px 525.1px 50.6px 0;
    transform: rotate(-8.69deg);
    box-shadow: 8px 15px 61.1px 0 rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(111deg, #212121 13%, #4caf50 88%);
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
}
.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    width: 100vw;
    height: 8vh;
    font-size: x-large;
    margin-bottom: 5%;
    color: #FFEB3B;
    text-shadow: 0 0 20px rgba(255, 235, 59, 0.4);
    z-index: 1;
}

.Body {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    min-height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #212121;
    p {
        margin-bottom: 1%;
        justify-content: center;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3vh;
    }
}
.CoinBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #212121;
    border-radius: 24px;
    width: 75vw;
    margin: 5%;
    height: 11vh;
    align-items: center;
    z-index: -2;
    .name {
        font-size: larger;
        opacity: 70%;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fbe30f;
        text-shadow: 0 0 20px rgba(255, 235, 59, 0.4);
    }
    .Cost {
        font-size: medium;
        color: #FF9800;
        text-shadow: 0 0 20px rgba(255, 152, 0, 0.4);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }
    img {
        margin: 1% 2%;
        height: 9vh;
        width: 25%;
    }
}

.NewsBox {
    margin: 5% 0;
    z-index: -2;
    width: 75vw;
    height: 30vh;
    background-color: #212121;
    border-radius: 26px;
    img {
        width: 100%;
        height: 25vh;
        border-radius: 24px 24px 24px 24px;
        z-index: -2;
    }
    .Text {
        z-index: -2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        height: 3vh;
        color: #FFEB3B;
        text-shadow: 0 0 20px #FFEB3B66;
    }
}
.CasinoLink {
    background-color: #212121;
    width: 75vw;
    height: 15vh;
    z-index: -2;
    margin: 5%;
    border-radius: 24px;
    Overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
        filter: drop-shadow(1px 1px 5px rgba(255, 235, 59, 0.87));
    }
}

.Ellipse-2 {
    width: 237px;
    height: 357.2px;
    flex-grow: 0;
    margin: 0 0 74.8px;
    transform: rotate(-22.2deg);
    box-shadow: 37px 37px 61.1px 0 rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(232deg, #4caf50 66%, #ffeb3b 21%);
}

.Ellipse-3 {
    width: 131.5px;
    height: 248.4px;
    flex-grow: 0;
    margin: 183.6px 0 0 105.5px;
    transform: rotate(-22.2deg);
    box-shadow: 37px 37px 61.1px 0 rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(223deg, #4caf50 70%, #ffeb3b 22%);
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media  (min-width: 1025px) {

    .CoinBox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 45px;
        width: 80vw;
        margin: 5%;
        height: 50%;
        align-items: center;
        font-size: xx-large;
        img {
            width: 15%;
            height: 80%;
        }
    }
    .NewsBox {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 100vh;
        border-radius: 45px;
        img {
            border-radius: 43px 43px 0 0;
            height: 90%;
            width: 100%;
        }
        div {
            margin: 0;
            height: 95%;
            font-size: xxx-large;
            display: flex;
        }
    }
    .CasinoLink {
        height: 50%;
    }
}