.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
    margin: 0 auto;
    height: 90vh;
    background-color: #212121;
    border-radius: 24px;
    min-height: 650px;
    padding-bottom: 5%;
}

.name_textarea {
    border: none;
    background: none;
    text-shadow: 0 0 10px rgba(255, 235, 59, 0.4);
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffeb3b;
    resize: none;
}

.name_textarea:focus {
    outline: none;
}
.box_create {

    /*background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="804" height="732" preserveAspectRatio="xMidYMid slice" viewBox="0 0 804 732" fill="none"%3E%3Cpath d="M0 0C0 0 28.5028 24 50.25 24C71.9972 24 78.7528 0 100.5 0C122.247 0 129.003 24 150.75 24C172.497 24 179.253 0 201 0C222.747 0 229.503 24 251.25 24C272.997 24 279.753 0 301.5 0C323.247 0 330.003 24 351.75 24C373.497 24 380.253 0 402 0C423.747 0 430.503 24 452.25 24C473.997 24 480.753 0 502.5 0C524.247 0 531.003 24 552.75 24C574.497 24 581.253 0 603 0C624.747 0 631.503 24 653.25 24C674.997 24 681.753 0 703.5 0C725.247 0 732.003 24 753.75 24C775.497 24 804 0 804 0V227.5C804 227.5 789 227.5 789 242C789 256.5 804 256.5 804 256.5V732C804 732 775.668 707 753.75 707C731.832 707 725.418 732 703.5 732C681.582 732 675.168 707 653.25 707C631.332 707 624.918 732 603 732C581.082 732 574.668 707 552.75 707C530.832 707 524.418 732 502.5 732C480.582 732 474.168 707 452.25 707C430.332 707 423.918 732 402 732C380.082 732 373.668 707 351.75 707C329.832 707 323.418 732 301.5 732C279.582 732 273.168 707 251.25 707C229.332 707 222.918 732 201 732C179.082 732 172.668 707 150.75 707C128.832 707 122.418 732 100.5 732C78.5817 732 72.1683 707 50.25 707C28.3317 707 0 732 0 732V256.5C0 256.5 15 256.5 15 242C15 227.5 0 227.5 0 227.5L0 0Z" fill="%23616161"/%3E%3C/svg%3E');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    width: 80vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212121;
    z-index: 1;
    margin-top: 1%;
}


.box_header {
    display: flex;
    margin: 3vh 0;
    justify-content: flex-start;
}

.page_header {
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.amount_textarea {
    border: none;
    border-radius: 8px;
    padding: 1%;
    background-color: #212121;
    color: #DADADA;
    text-shadow: 0 0 20px rgba(255, 235, 59, 0.4);
    width: 60vw;
    resize: none;
}

.amount_textarea::placeholder {
    color: #DADADA;
}

.amount_textarea:focus {
    outline: none;
}

.Button_Save {
    margin-top: 5%;
    border: none;
    color: #212121;
    background-image:
            linear-gradient(275deg, #4caf50 0%, #ffeb3b 100%),
            linear-gradient(to bottom, #d9ffd2, #d9ffd2);

    border-radius: 12px;
    width: 75vw;
    height: 25px;
}

.Button_Cancel {
    margin-top: 5%;
    border-radius: 12px;
    border: none;
    background-image: linear-gradient(85deg, #ff9800 0%, #ffeb3b 100%);
    height: 25px;
    width: 75vw;
    color: #212121;
}

.Button_LinkUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    color: #212121;
    background-image:
            linear-gradient(275deg, #4caf50 0%, #ffeb3b 100%),
            linear-gradient(to bottom, #d9ffd2, #d9ffd2);
    border-radius: 12px;
    width: 75vw;
    height: 25px;
}

.CheckBack {
    position: absolute;
    z-index: -1;
    display: flex;
    width: 80%;
    height: 50%;
    min-height: 325px;
}

.CheckButtons {
    position: relative;
    z-index: 2;
    background: linear-gradient(68deg, #4caf50 16%, #ffeb3b 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    font-size: x-large;
    font-weight: bold;
    font-family: Nunito;
}